[package]
name = "d2b"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrayvec = "0.7.1"
clap = "2.33.3"
regex = "1.5.4"
reqwest = "0.11.4"
